$background: #454545 ;
$darker1: #303030;
$lighter: #6e6d6d;

$phantom_text: rgba(#434343, 0.8);
$focus_text: #60cffc;
$valid_text: #00dfc4;
$invalid_text: #e75d45;
$glass_light_white: rgba(205,205,205,0.4)